<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Homework</title>
	<link rel="stylesheet" href="./assets/scss/main.scss">
	<link href="http://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
                

	
</head>

<body>
	

	{% include './shared/header.njk' %}
	<main class="main">
		{% include './shared/products.njk' %}
	</main>

	{% include './shared/other-rooms.njk'%}
	{% include './shared/blogs.njk'%}
	{% include './shared/share.njk' %}
	{% include './shared/footer.njk' %}
	

	


	
	

	
	

</body>

</html>
