<section class="blogs">
	<div class="blogs__container">


		<h2 class="blogs__container__title">Tips & Tricks</h2>


		<div class="blogs__container__items">

			<div class="blogs__container__items__post">

				<div class="blogs__container__items__post__image">

					<img src="../development/assets/images/post-image1.jpg" alt="">

				</div>


				<div class="blogs__container__items__post__content">
					<a class="blogs__container__items__post__content__title" href=""> How to create a living room to love</a>

					<time class="blogs__container__items__post__content__date">20 jan 2020 </time>

				</div>

			</div>

			<div class="blogs__container__items__post">

				<div class="blogs__container__items__post__image">

					<img src="../development/assets/images/post-image2.jpg" alt="">

				</div>


				<div class="blogs__container__items__post__content">
					<a class="blogs__container__items__post__content__title" href="">Solution for clean look working

						space</a>

					<time class="blogs__container__items__post__content__date">20 jan 2020 </time>

				</div>

			</div>

			<div class="blogs__container__items__post">

				<div class="blogs__container__items__post__image">

					<img src="../development/assets/images/post-image3.jpg" alt="">

				</div>


				<div class="blogs__container__items__post__content">
					<a class="blogs__container__items__post__content__title" href="">Make your cooking activity

						more fun with good setup</a>

					<time class="blogs__container__items__post__content__date">20 jan 2020 </time>

				</div>

			</div>


		</div>


	</div>



</section>
