<section class="other-rooms">

<div class="other-rooms__container">

	<div class="other-rooms__container__content">
		<h2 class="other-rooms__container__content__title">50+ Beautiful rooms inspiration</h2>
		<p class="other-rooms__container__content__subtitle">Our designer already made a lot of beautiful prototipe of rooms that inspire you</p>
		<a class="other-rooms__container__content__link" href=""> Explore More</a>
	</div>

	<div class="other-rooms__container__current">

		<div class="other-rooms__container__current__content">
			
			<p class="other-rooms__container__current__content__subtitle">01  —  Bed Room</p>
			
			<h4 class="other-rooms__container__current__content__title">Inner Peace</h4>
	
			
		</div>
		<button class="other-rooms__container__current__content__btn"> {% include '../assets/images/right-arrow.svg'%}  </button>
		
			
	</div>

	<div class="other-rooms__container__next"> 


		<div>
			<img src="./assets/images/slide-next.jpg" alt="">
		</div>
			
		<div class="other-rooms__container__next__icons">
			
			
			{% include '../assets/images/dot.svg'%}

			
		</div>

	</div>

</div>



</section>


