<section class="headerwrap">
	<div class="headerwrap__top">
		<div class="headerwrap__top__container">
			{% include "../assets/images/icons/Quality-icon.svg" %}
			<div class="headerwrap__top__container__txt">
				<p class="headerwrap__top__container__txt__topic">High Quality</p>
				<p class="headerwrap__top__container__txt__topic__explanation">Crafted from top materials</p>
			</div>
		</div>
		<div class="headerwrap__top__container">
			{% include "../assets/images/icons/Warranty-icon.svg" %}
			<div class="headerwrap__top__container__txt">
				<p class="headerwrap__top__container__txt__topic">Warranty Protection</p>
				<p class="headerwrap__top__container__txt__topic__explanation">Over 2 years</p>
			</div>
		</div>
		<div class="headerwrap__top__container">
			{% include "../assets/images/icons/Shipping-icon.svg" %}
			<div class="headerwrap__top__container__txt">
				<p class="headerwrap__top__container__txt__topic">Free Shipping</p>
				<p class="headerwrap__top__container__txt__topic__explanation">Order over 150 $</p>
			</div>
		</div>
		<div class="headerwrap__top__container">
			{% include "../assets/images/icons/Support-icon.svg" %}
			<div class="headerwrap__top__container__txt">
				<p class="headerwrap__top__container__txt__topic">24 / 7 Support</p>
				<p class="headerwrap__top__container__txt__topic__explanation">Dedicated support</p>
			</div>
		</div>
	</div>
</section>

<section class="products">
	<h2 class="products__top">Our Products</h2>
	<div class="products__top__container">
		<div class="products__top__container__info">
			<div class="products__top__container__info__img">
				<img class="products__top__container__info__img__product" src="./assets/images/product-img/product-1.png">
				{#<img class="products__top__container__info__img__situtation" src="./assets/images/discount-icon/30discount-icon.png">#}
			</div>
			<div class="products__top__container__info__txt">
				<h5 class="products__top__container__info__txt__productname">Syltherine</h5>
				<p class="products__top__container__info__txt__description">Stylish cafe chair</p>
			</div>
			<div class="products__top__container__info__txt__prices">
				<p class="products__top__container__info__txt__prices__price">Rp 2.500.000</p>
				<del class="products__top__container__info__txt__prices__fixprice">Rp 3.500.000</del>
			</div>
		</div>

		<div class="products__top__container__info">
			<div class="products__top__container__info__img">
				<img src="./assets/images/product-img/product-2.png">
			</div>
			<div class="products__top__container__info__txt">
				<h5 class="products__top__container__info__txt__productname">Leviosa</h5>
				<p class="products__top__container__info__txt__description">Stylish cafe chair</p>
			</div>
			<div class="products__top__container__info__txt__prices">
				<p class="products__top__container__info__txt__prices__price">Rp 2.500.000</p>
			</div>
		</div>

		<div class="products__top__container__info">
			<div class="products__top__container__info__img">
				<img src="./assets/images/product-img/product-3.png">
			</div>
			<div class="products__top__container__info__txt">
				<h5 class="products__top__container__info__txt__productname">Lolito</h5>
				<p class="products__top__container__info__txt__description">Luxury big sofa</p>
			</div>
			<div class="products__top__container__info__txt__prices">
				<p class="products__top__container__info__txt__prices__price">Rp 7.500.000</p>
				<del class="products__top__container__info__txt__prices__fixprice">Rp 14.500.000</del>
			</div>
		</div>

		<div class="products__top__container__info">
			<div class="products__top__container__info__img">
				<img src="./assets/images/product-img/product-4.png">
			</div>
			<div class="products__top__container__info__txt">
				<h5 class="products__top__container__info__txt__productname">Respira</h5>
				<p class="products__top__container__info__txt__description">Minimalist fan</p>
			</div>
			<div class="products__top__container__info__txt__prices">
				<p class="products__top__container__info__txt__prices__price">Rp 2.500.000</p>
			</div>
		</div>

		<div class="products__top__container__info">
			<div class="products__top__container__info__img">
				<img src="./assets/images/product-img/product-5..png">
			</div>
			<div class="products__top__container__info__txt">
				<h5 class="products__top__container__info__txt__productname">Grifo</h5>
				<p class="products__top__container__info__txt__description">Night lamp</p>
			</div>
			<div class="products__top__container__info__txt__prices">
				<p class="products__top__container__info__txt__prices__price">Rp 1.500.000</p>
			</div>
		</div>

		<div class="products__top__container__info">
			<div class="products__top__container__info__img">
				<img src="./assets/images/product-img/product-6.png">
			</div>
			<div class="products__top__container__info__txt">
				<h5 class="products__top__container__info__txt__productname">Muggo</h5>
				<p class="products__top__container__info__txt__description">Small mug</p>
			</div>
			<div class="products__top__container__info__txt__prices">
				<p class="products__top__container__info__txt__prices__price">Rp 150.000</p>
			</div>
		</div>

		<div class="products__top__container__info">
			<div class="products__top__container__info__img">
				<img src="./assets/images/product-img/product-7.png">
			</div>
			<div class="products__top__container__info__txt">
				<h5 class="products__top__container__info__txt__productname">Pingky</h5>
				<p class="products__top__container__info__txt__description">Cute bed set</p>
			</div>
			<div class="products__top__container__info__txt__prices">
				<p class="products__top__container__info__txt__prices__price">Rp 7.000.000</p>
				<del class="products__top__container__info__txt__prices__fixprice">Rp 14.500.000</del>
			</div>
		</div>

		<div class="products__top__container__info">
			<div class="products__top__container__info__img">
				<img src="./assets/images/product-img/product-8.png">
			</div>
			<div class="products__top__container__info__txt">
				<h5 class="products__top__container__info__txt__productname">Potty</h5>
				<p class="products__top__container__info__txt__description">Minimalist flower pot</p>
			</div>
			<div class="products__top__container__info__txt__prices">
				<p class="products__top__container__info__txt__prices__price">Rp 500.000</p>
			</div>
		</div>
	</section>

		 <section class="button">
			<div class="button__container">
				<button type="button" class="button__container__txt">Show More</button>
			</div>
		</section> 


