<section class="share">
    <div class="share__titles">
        <span class="share__titles__first">Share your setup with</span>
        <span class="share__titles__second">#FuniroFurniture</span>
    </div>
    <div class="share__container">
        <div class="share__container__left">
            <div class="share__container__left__top">
                <img src="./assets/images/left1.jpg" alt="">
	            <img src="./assets/images/left2.jpg" alt="">
                
            </div>
            <div class="share__container__left__bottom">
                <img src="./assets/images/left3.jpg" alt="">
	            <img src="./assets/images/left4.jpg" alt="">
            </div>
        </div>
        <div class="share__container__mid">
            <img src="./assets/images/mid.jpg" alt="">
        </div>
        <div class="share__container__right">
            <div class="share__container__right__top">
                <img src="./assets/images/right1.jpg" alt="">
	            <img src="./assets/images/right2.jpg" alt="">
            </div>
            <div class="share__container__right__bottom">
                <img src="./assets/images/right3.jpg" alt="">
	            <img src="./assets/images/right4.jpg" alt="">
            </div>
        </div>
    </div>
</section>