.headerwrap {
	font-family: "Gilroy-Regular", sans-serif;
	display: flex;
	justify-content: center;
	margin-top: 88px;

	&__top {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		

		&__container {
			display: flex;
			align-items: center;
			margin-left: 80px;
			margin-right: 80px;

			&__txt {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				line-height: 27px;
				margin-left: 24px;

				&__topic {
					font-family: "Gilroy-Semibold", sans-serif;
					font-size: 18px;
					color: #3a3a3a;
					margin: auto;

					&__explanation {
						color: #898989;
						margin: auto;
						font-size: 16px;
					}
				}
			}
		}
	}
}

.products {
	font-family: "Gilroy-Regular", sans-serif;
	max-width: 1460px;

	&__top {
		text-align: center;
		margin-top: 104px;

		&__container {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-wrap: wrap;


			&__info {
				background-color: #f4f5f7;
				margin: 32px;

			/*	&__img{
					background-color: indigo;
				

					&__product{
						background-color: lawngreen;
					}

					&__situtation{
						background-color: lightblue;
					}
				}
				*/

				&__txt {
					flex-direction: column;
					align-items: center;
					justify-content: center;
					margin-left: 16px;

					&__productname {
						color: #3a3a3a;
						font-size: 24px;
						margin: auto;
						line-height: 24px;
						padding: 16px 0;
					}

					&__description {
						font-size: 16px;
						color: #898989;
						margin: auto;
						line-height: 30px;
					}

					&__prices {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						justify-content: space-between;
						margin-left: 16px;
						margin-right: 31px;

						&__price {
							float: left;
						}
						&__fixprice {
							color: #b0b0b0;
						}
					}
				}
			}
		}
	}
}

.button {
	font-family: "Gilroy-Regular", sans-serif;
	display: flex;
	justify-content: center;

	&__container {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;

		&__txt {
			border: 1px solid #e89f71;
			background: #ffffff;
			color: #e89f71;
			text-align: center;
			font-size: 24px;
			margin-top: 2em;
			cursor: pointer;
			padding: 12px 82px 12px 82px;
		}
	}
}

