$header-bgcolor:white;
$rem-baseline: 16;
$rooms-bgcolor:#FCF8F3;
$blog-bgcolor:white;
$home-bgcolor: #ffc0cb;
$btn-bgcolor:#E89F71;
$subtitle-color:#616161;
$title-color:#3A3A3A;





/* Start Header Variables*/
$header-bgcolor:#f9f1e7 ;
$header-fz-24:24px;
$header-fz-16:16px;
$header__title-color:#3A3A3A;
$header__text-color:#898989;
$font-family:'Gilroy-Regular', sans-serif;



/* End Header Variables*/

// :root {
// 	--home-color: #ffc0cb;
// }






























/* share starts */

/* share ends */
/* footer starts */
$footer-txt-color: #616161;
$footer-input-bgc: #F4F5F7;
$footer-placeholder-color: #828282;
$footer-svg-bgc: #E89F71
/* footer ends */

